.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.apk
build/
.idea/
.vscode/
*.iml
*.class
*.jar
*.log
.DS_Store
ios/Pods/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
